<a href="https://colab.research.google.com/github/Ayushijain0035/Python_Collab/blob/main/Data_Structure_Withoutcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> <u>Data Structures <u> </center>

## 1. Lists

## **`WATCH VIDEOS IN THE PORTAL`**

### **`Watch Video 3: Lists in Python, Lists Method`**

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

a= [ 'Ayushi', 'Apple', 1, 23, 50, 23, 'Balloon']

In [ ]:
# print the value of a

print(a)

['Ayushi', 'Apple', 1, 23, 50, 23, 'Balloon']

In [ ]:
# print the type of a

print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:
for language in languages:
  print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [ ]:
[i for i in languages[len(languages)-2:]]

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java', 'Java', 'Java']

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java', 'Java', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
 colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1, 'Orange')

print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
colors2 = ['Grey', 'Sky', 'Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
print(len(colors))
print(colors)

9
['Red', 'Orange', 'Blue', 'White', 'Black', 'Black', 'Grey', 'Sky', 'Blue']

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Black', 'Black', 'Blue', 'Blue', 'Grey', 'Orange', 'Red', 'Sky', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [ ]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split(sep=' ')
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
words_lower= [i.lower() for i in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
words_lower.remove('the')

In [ ]:
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4= words_lower[0:4]

In [ ]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
' '.join(x4)

'coronavirus caused lockdowns around'

## 2. Sets

### **`Watch Video 11: Sets in Python, Sets Method`**

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
print(stud_grades_set)

{'B', 'C', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'B', 'C', 'A', 'F'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
stud_grades_set.add('G')

In [ ]:
print(stud_grades_set)

{'B', 'A', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')

print(stud_grades_set)

{'B', 'A', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'A', 'C', 'G'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [ ]:
colors =['red', 'blue', 'orange']
fruits =['orange', 'grapes', 'apples']

Print color and fruits

In [ ]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set= set(colors)
fruits_set= set(fruits)

print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [ ]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [ ]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

### **`Watch Video 12: Tuples in Python, Tuple Method`**

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [ ]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
temp[0] = 11

Set temp1 = tuple(temp)

In [ ]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
temp1[0] = 17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [ ]:
city =  ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
 city2 =  ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = city, city2

Print cities

In [ ]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [ ]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

### **`Watch Video 13: Dictionaries in Python, Dict Method`**

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [ ]:
actor= d['actor']

Print the type of actor

In [ ]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [ ]:
l= d['list']

Print the type of l.

In [ ]:
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d = {**d, **d1}

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [ ]:
for key, value in d.items():
  print(key, '----->', value)

actor -----> amir
animal -----> cat
earth -----> 2
list -----> [23, 32, 12]
singer -----> Kr$na
album -----> Still here
genre -----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
dict ={}
for i in sent:
  dict[i] = 0
for j in sent:
  dict[j]=dict[j]+1 
dict

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}

# -------------------------------------------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# -------------------------------------------------------------------------------------------------------